@font-face {
    font-family: 'Droid Sans Mono';
    font-style: normal;
    font-weight: 400;
    src: url(./font/Droid_Sans_Mono/droid_sans_mono.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    background-color: #202426;
    color: white;
}

h1::before {
    content: "{"; 
    color: #C586C0;
} 
h1 { 
    margin-top: 40px;
    font-family: Droid Sans Mono; 
    font-size: 23px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 20px; 
    color: #88DCFE;
} 
h1::after { 
    content: "}"; 
    color: #C586C0;
} 



h3::before {
    content: "<"; 
    color: #808080;
} 
h3 {
    margin-top: 40px;
    margin-left: 5px;
    font-family: Droid Sans Mono; 
    font-size: 17px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 10px; 
    color: #569CD6;
}
h3::after {
    content: "/>"; 
    color: #808080;
} 


p { 
    margin-left: 40px;
    font-family: Droid Sans Mono; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 23px; 
} 

blockquote::before {
    content: "\""; 
    color: #C39178; 
}
blockquote { 
    margin-left: 80px;
    font-family: Droid Sans Mono; 
    font-size: 17px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 23px;
    color: #C39178; 
}
blockquote::after {
    content: "\""; 
    color: #C39178; 
} 
pre::before {
    margin-left: 40px;
    content: "/* "; 
    color: #458455;
}
pre { 
    font-family: Droid Sans Mono; 
    font-size: 17px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 23px;
    color: #458455;
}
pre::after {
    content: " */"; 
    color: #458455;
}

a:hover::before{
    display: inline-block;
    content: "$";
    color: #DBD400;
    text-decoration: none;
}
a {
    font-family: Droid Sans Mono; 
    font-size: 17px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 10px; 
    color: #DCD67D;
    text-decoration-line: underline;
}
p>a{
    font-family: Droid Sans Mono; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 23px; 
}
p>a:hover{
    font-family: Droid Sans Mono; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 23px; 
}
a:hover{
    font-family: Droid Sans Mono; 
    font-size: 17px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 10px; 
    color: #4DC9B0;
    text-decoration-line: underline;
}
a::after{
    display: inline-block;
    content: "()";
    color: #C586C0;
    text-decoration: none; 
}
a:hover::after{
    display: inline-block;
    content: "()";
    color: #DBD400;
    text-decoration: none; 
}

nav::before{
    content: "[";
    color: #C586C0;
}
nav>a{
    margin-left: 10px;
}
nav>a::after {
    content: ",";
    color: white;
}
nav>a:hover::after {
    content: "(), ";
    color: #DBD400;
}
nav>a:first-child:before {
    
    content: "";
    color: white;
}
nav>a:first-child:hover::before {
    display: inline-block;
    content: "$";
    color: #DBD400;
    text-decoration: none;
}
nav>a:last-child:after {
    content: "";
    margin-right: 10px;
    color: white;
}
nav>a:last-child:hover:after {
    display: inline-block;
    content: "()";
    color: #DBD400;
    text-decoration: none;
}
nav::after{
    content: " ]";
    color: #C586C0;
}

ul{
    list-style: none;
    padding: 0px;
}
li::before{
    content: "~ ";
    color: #458455;
}
li{
    margin-left: 20px;
    color: #DCD67D;
}

@media only screen and (min-width: 21.25cm) {
    .reader-mode{
        width: 21cm;
        height: 29.7cm;
        margin: 5mm 5mm 5mm 5mm; 
        margin-left: auto;
        margin-right: auto;
    }
    
}
